.baseContent {
font-family:"Times New Roman, Times, serif";
font-size:x-large;
margin-left: 20px;
margin-right: 20px;
}

.baseContentCim {
font-family:"Times New Roman, Times, serif";
font-size:xx-large;
font-style: italic;
font-weight: bold;
text-align: center;
}

.baseContentAlcim {
font-family:"Times New Roman, Times, serif";
font-size:x-large;
font-style: italic;
font-weight: bold;
}

.underline {
text-decoration: underline;
}

div.piros {
  background-color: oldlace;
  color: red;
  width: 600px;
  border: 1px solid black;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
}

div.cim {
  width: 750px;
}

p.piros {
	font-family:"Times New Roman, Times, serif";
	font-size:x-large;
	font-style: italic;
	font-weight: bold;
  color: red;
  width: 750px;
  padding: 3px;
  margin: 2px;
}


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
